body
{
    background-color: #353535;
}

#contentsTable 
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#contentsTable td, #contentsTable th 
{
    border: 1px solid #ddd;
    padding: 8px;
}
  
#contentsTable tr:nth-child(even)
{
    background-color: #f2f2f2;
}

#contentsTable tr:nth-child(odd)
{
    background-color: #c0c0c0;
}
  
#contentsTable tr:hover 
{
    background-color: #ddd;
}
  
#contentsTable th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0476aa;
    color: white;
}

input[type=text], select 
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
input[type=submit]
{
    width: 100%;
    background-color: #0476aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset]
{
    width: 100%;
    background-color: #c5c5c5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover 
{
    background-color: #45a049;
}

input[type=reset]:hover 
{
    background-color: #c72f2f;
}
  
div 
{
    border-radius: 5px;
    background-color: #d3d3d3;
    padding: 20px;
}